<?xml version="1.0" encoding="utf-8"?>
<Umc.Message>
	<add key="umcMessage" value="메세제"></add>
	<add key="message.saved" value="저장되었습니다"></add>
	<add key="message.update.fail" value="수정하는동안 오류가 발생하였습니다"></add>
	<add key="message.update.success" value="수정되었습니다"></add>
	<add key="message.insert.fail" value="저장하는동안 오류가 발생하였습니다"></add>
	<add key="message.insert.success" value="저장하였습니다"></add>
	<add key="message.has.not.mypicture" value="내 사진이 등록되지 않았습니다"></add>
	<add key="message.not.listbox.selected" value="리스트 박스에서 항목을 선택하세요"></add>
	<add key="message.question.remove.category" value="루트 카테고리를 삭제하시면 자식 카테고리도 함께 삭제 됩니다.\r\n\r\n삭제 후 복구 할 수 없습니다\r\n\r\n정말로 삭제하시겠습니까?"></add>
	<!-- 회원 가입 부분-->
	<add key="message.wrong.email" value="이메일 주소를 다시 입력하여 주세요"></add>
	<add key="message.empty.name" value="이름을 입력해 주세요"></add>
	<add key="message.empty.nickname" value="닉네임을 2자리 이상 입력해 주세요"></add>
	<add key="message.empty.password" value="비밀번호를 4자리 이상 입력해 주세요"></add>
	<add key="message.compare.password" value="비밀번호 확인이 맞는지 확인하세요"></add>
	<add key="message.success.userjoin" value="회원 가입이 성공되었습니다"></add>
	<add key="message.double.email" value="이메일이 존재합니다. 다른 이메일을 입력하세요"></add>
	<add key="message.join.fail" value="다른 이유로 가입을 할 수 없습니다. 관리자에게 문의하세요"></add>
	<add key="message.login.fail" value="이메일 또는 비밀번호가 일치하지 않습니다"></add>
	<!-- 글 작성 부분 -->
	<add key="message.no.title" value="제목을 입력하세요"></add>
	<add key="message.no.content" value="내용을 입력하세요"></add>

	<!-- 에러 코드 -->
	<add key="err.transaction" value="처리되지 않는 Transaction 이 있습니다"></add>
	<add key="err.internal" value="내부 오류입니다"></add>
	<add key="err.unknown" value="알 수 없는 오류입니다"></add>
	<add key="err.category.node.value.parse" value="CategoryNodeValue 에 Parse 하기위한 문자열 형식이 맞지 않습니다"></add>

	<!-- 아티클 읽기 -->
	<add key="message.not.permit.read.article" value="비공개 포스트 입니다" />
	<add key="message.has.not.article" value="해당 아티클이 없습니다" />
	<add key="message.article.notaglist" value="태그 이름은 몇몇 특수문자와 CON,COM1,LPT2 와 같은 장치 이름은 사용할 수 없습니다" />
	<add key="message.article.really.remove" value="정말로 아티클을 삭제하시겠습니까?" />
	<add key="message.article.remove" value="아티클을 삭제하였습니다." />
	<add key="message.article.regist" value="아티클을 저장하였습니다." />

	<!-- 댓글 -->
	<add key="message.insert.comment" value="댓글이 저장되었습니다" />
	<add key="message.really.remove.comment" value="정말로 삭제하시겠습니까?" />
	<add key="message.can.not.remove.comment" value="하위 댓글이 있으므로 삭제할 수 없습니다" />
	<add key="message.remove.comment" value="댓글을 삭제하였습니다" />
	<add key="message.error.validate.param" value="잘못된 접근입니다" />
	<add key="message.not.equal.password" value="비밀번호가 잘못되었습니다." />
	<add key="message.comment.empty.name" value="이름을 입력하세요" />
	<add key="message.comment.empty.password" value="비밀번호를 입력하세요" />
	<add key="message.comment.empty.content" value="내용을 입력하세요" />
	<add key="message.comment.update.comment" value="댓글을 수정하였습니다" />
	<add key="message.comment.empty.confirm.validate.string" value="인증번호를 입력하세요" />
	<add key="message.comment.not.equal.confirm.validate.string" value="인증번호가 틀렸습니다" />

	<!-- 태그 -->
	<add key="message.remove.really.tag" value="정말로 태그를 삭제하시겠습니까?" />

	<!-- 이모티콘 -->
	<add key="message.emoticon.not.title" value="텍스트를 입력하세요" />
	<add key="message.emoticon.not.image" value="이미지를 선택하세요" />
	<add key="message.emoticon.remove.really" value="정말로 이모티콘을 삭제하시겠습니까?" />

	<!-- 차단기 -->
	<add key="message.breaker.already.insert" value="이미 차단목록에 추가되었습니다" />
	<add key="message.breaker.remove" value="차단목록에서 삭제되었습니다" />
	<add key="message.breaker.insert" value="차단목록에 추가되었습니다." />
	<add key="message.breaker.can.not.remove" value="차단목록에서 제거할 수 없습니다." />
	<add key="message.breaker.empty.userip" value="아이피를 입력하세요" />
</Umc.Message>